@jean-cartier:registry=https://registry.figma.com/npm/0cf5e0b1-52f4-4b8e-976c-f057dc003dcb/registry/
//registry.figma.com/npm/0cf5e0b1-52f4-4b8e-976c-f057dc003dcb/registry/:_authToken=${FIGMA_NPM_TOKEN}
